@page
@model Proiect.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Review.Hotel.Nume,"Hotel")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Hotel.Nume)
        </dd>
         <dt class="col-sm-2">
            @Html.LabelFor(model => model.Review.Oras.Nume,"Oras")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Oras.Nume)
        </dd>
         <dt class="col-sm-2">
            @Html.LabelFor(model => model.Review.Tara.Nume,"Tara")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Tara.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Parere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Parere)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@Model.Review?.Id">Editează</a> </button>
     <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
</div>
