@page
@model Proiect.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Parere</h1>

<p>
     <button class="btn btn-light"><a style="text-decoration:none; color:black" asp-page="Create">Adaugă</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.Review[0].Hotel.Nume,"Hotel")
            </th>
            <th>
                Locatie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Parere)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Nume )
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Oras.Nume),
                    @Html.DisplayFor(modelItem => item.Hotel.Tara.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parere)
                </td>
           
            <td>
                 
                        <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@item.Id">Editează</a> </button>
                    <button class="btn btn-danger"> <a style="color: white; text-decoration: none" asp-page="./Delete" asp-route-id="@item.Id">Șterge</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
