@page
@model Proiect.Pages.Rezervari.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Sunteți sigur că doriți să ștergeți acest rând?</h3>
<div>
    <h4>Rezervare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Persoane)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Persoane)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.DataSosire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.DataSosire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.DataPlecare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.DataPlecare)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rezervare.Id" />
        <input type="submit" value="Șterge" class="btn btn-danger" /> 
         <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
    </form>
</div>
