@page
@model Proiect.Pages.Rezervari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Persoane)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Persoane)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.DataSosire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.DataSosire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.DataPlecare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.DataPlecare)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rezervare?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
