@page
@model Proiect.Pages.Rezervari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Rezervare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Rezervare.Membru.Numetot,"Nume")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Membru.Numetot)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Rezervare.Hotel.Nume,"Hotel")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Hotel.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Rezervare.Oras.Nume,"Oras")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Hotel.Oras.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(model => model.Rezervare.Tara.Nume,"Tara")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Hotel.Tara.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Hotel.TipCamera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Hotel.TipCamera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Persoane)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Persoane)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.DataSosire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.DataSosire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.DataPlecare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.DataPlecare)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@Model.Rezervare?.Id">Editează</a> </button>
     <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
</div>
