@page
@model Proiect.Pages.Rezervari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rezervari</h1>

<p>
     <button class="btn btn-light"><a style="text-decoration:none; color:black" asp-page="Create">Adaugă</a></button>
</p>
<table class="table">
    <thead>
        <tr>
          
             <th>
                @Html.LabelFor(model => model.Rezervare[0].Membru.Numetot,"Nume")
            </th>
            <th>
                @Html.LabelFor(model => model.Rezervare[0].Hotel.Nume,"Hotel")
            </th>
            <th>
                Locatie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].Hotel.TipCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].Persoane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].DataSosire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].DataPlecare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rezervare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Membru.Numetot)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Nume)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Oras.Nume),
                    @Html.DisplayFor(modelItem => item.Hotel.Tara.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.TipCamera)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persoane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSosire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPlecare)
            </td>
            <td>
                    <button class="btn btn-primary"> <a style="color: white; text-decoration: none" asp-page="./Details" asp-route-id="@item.Id">Detalii</a></button>
                        <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@item.Id">Editează</a> </button>
                    <button class="btn btn-danger"> <a style="color: white; text-decoration: none" asp-page="./Delete" asp-route-id="@item.Id">Șterge</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
