@page
@model Proiect.Pages.Prezentari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prezentare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezentare.Tara.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezentare.Tara.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezentare.Oras.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezentare.Oras.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezentare.Oras.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezentare.Oras.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezentare.Hotel.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezentare.Hotel.Nume)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prezentare?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
