@page "/"
@model Proiect.Pages.Prezentari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bine ati venit!</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.Prezentare[0].Tara.Nume,"Tara")
                
            </th>
            <th>
                @Html.LabelFor(model => model.Prezentare[0].Oras.Nume,"Oras")
            </th>
            <th>
                @Html.LabelFor(model => model.Prezentare[0].Oras.Nume,"Descriere Oras")
            </th>
            <th>
                @Html.LabelFor(model => model.Prezentare[0].Hotel.Nume,"Hotel")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prezentare) {
        <tr>
            <td>
             
                @Html.DisplayFor(modelItem => item.Tara.Nume)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Oras.Nume)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Oras.Descriere)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Hotel.Nume)
            </td>
      
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
