@page "/"
@model Proiect.Pages.Prezentari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bine ati venit!</h1>

<p>
     <button class="btn btn-light"><a style="text-decoration:none; color:black" asp-page="Create">Adaugă</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.Prezentare[0].Tara.Nume,"Tara")
                
            </th>
            <th>
                @Html.LabelFor(model => model.Prezentare[0].Oras.Nume,"Oras")
            </th>
            <th>
                @Html.LabelFor(model => model.Prezentare[0].PrezHoteluri,"Hoteluri")
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PrezD.Prezentari) {
        string selectedRow = "";
 if (item.Id == Model.PrezID)
 {
 selectedRow = "table-success";
 }
 <tr class="@selectedRow">
            <td>
             
                @Html.DisplayFor(modelItem => item.Tara.Nume)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Oras.Nume)
            </td>
                <td>
                    @{
                        foreach (var category in item.PrezHoteluri)
                        {
                            @category.Hotel.Nume <br />
                        }
                    }
                </td>
      
                <td>
                    <button class="btn btn-secondary"><a style="text-decoration:none; color:White" asp-page="/Rezervari/Create">Rezerva!</a></button>
                    <button class="btn btn-primary"> <a style="color: white; text-decoration: none" asp-page="./Details" asp-route-id="@item.Id">Detalii</a></button>
                    <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@item.Id">Editează</a> </button>
                    <button class="btn btn-danger"> <a style="color: white; text-decoration: none" asp-page="./Delete" asp-route-id="@item.Id">Șterge</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
