@page
@model Proiect.Pages.Tari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Tara</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tara.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tara.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tara.Continent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tara.Continent)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@Model.Tara?.ID">Editează</a> </button>
     <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
</div>
