@page
@model Proiect.Pages.Tari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tari</h1>
<p>
   <button class="btn btn-light"><a style="text-decoration:none; color:black" asp-page="Create">Adaugă</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tara[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tara[0].Continent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tara) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent)
            </td>
            <td>
                    <button class="btn btn-primary"> <a style="color: white; text-decoration: none" asp-page="./Details" asp-route-id="@item.ID">Detalii</a></button>
                        <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@item.ID">Editează</a> </button>
                    <button class="btn btn-danger"> <a style="color: white; text-decoration: none" asp-page="./Delete" asp-route-id="@item.ID">Șterge</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
