@page
@model Proiect.Pages.Hoteluri.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Sunteți sigur că doriți să ștergeți acest rând?</h3>
<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Nume)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.NrPers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.NrPers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.PretCamera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.PretCamera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hotel.Id" />
        <input type="submit" value="Șterge" class="btn btn-danger" />
         <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
    </form>
</div>
