@page
@model Proiect.Pages.Hoteluri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Hoteluri</h1>

<p>
     <button class="btn btn-light"><a style="text-decoration:none; color:black" asp-page="Create">Adaugă</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel[0].Nume)
            </th>
            <th>
            @Html.LabelFor(model => model.Hotel[0].Tara.Nume,"Tara")</th>
            <th>
                @Html.LabelFor(model => model.Hotel[0].Oras.Nume,"Oras")
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Hotel[0].TipCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel[0].NrPers)
            </th>
            <th>
                @Html.LabelFor(model => model.Hotel[0].PretCamera,"PrețCameră(eur)/noapte")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hotel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
             <td>
         @Html.DisplayFor(modelItem => item.Tara.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oras.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipCamera)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrPers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PretCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                    <button class="btn btn-primary"> <a style="color: white; text-decoration: none" asp-page="./Details" asp-route-id="@item.Id">Detalii</a></button>
                    <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@item.Id">Editează</a> </button>
                    <button class="btn btn-danger"> <a style="color: white; text-decoration: none" asp-page="./Delete" asp-route-id="@item.Id">Șterge</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
