@page
@model Proiect.Pages.Orase.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Oras</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oras.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oras.Nume)
        </dd>
             <dt class="col-sm-2">
            @Html.LabelFor(model => model.Oras.Tara.Nume,"Tara")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oras.Tara.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oras.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oras.Descriere)
        </dd>
    </dl>
</div>
<div>
     <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@Model.Oras?.Id">Editează</a> </button>
     <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
</div>
