@page
@model Proiect.Pages.Orase.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Orase</h1>

<p>
     <button class="btn btn-light"><a style="text-decoration:none; color:black" asp-page="Create">Adaugă</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oras[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oras[0].Descriere)
            </th>
            <th>
                @Html.LabelFor(model => model.Oras[0].Tara.Nume,"Tara")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Oras) {
        <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descriere)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tara.Nume)
                </td>
            <td>
                    <button class="btn btn-primary"> <a style="color: white; text-decoration: none" asp-page="./Details" asp-route-id="@item.Id">Detalii</a></button>
                        <button class="btn btn-warning"> <a style="color: white; text-decoration: none" asp-page="./Edit" asp-route-id="@item.Id">Editează</a> </button>
                        <button class="btn btn-danger"> <a style="color: white; text-decoration: none" asp-page="./Delete" asp-route-id="@item.Id">Șterge</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
